In [4]:
import pandas as pd
file_path = 'online_retail_II.xlsx'

In [3]:
df_2009 = pd.read_excel(file_path, sheet_name='Year 2009-2010')
print(df_2009.head())

  Invoice StockCode                          Description  Quantity  \
0  489434     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12
1  489434    79323P                   PINK CHERRY LIGHTS        12
2  489434    79323W                  WHITE CHERRY LIGHTS        12
3  489434     22041         RECORD FRAME 7" SINGLE SIZE         48
4  489434     21232       STRAWBERRY CERAMIC TRINKET BOX        24

          InvoiceDate  Price  Customer ID         Country
0 2009-12-01 07:45:00   6.95      13085.0  United Kingdom
1 2009-12-01 07:45:00   6.75      13085.0  United Kingdom
2 2009-12-01 07:45:00   6.75      13085.0  United Kingdom
3 2009-12-01 07:45:00   2.10      13085.0  United Kingdom
4 2009-12-01 07:45:00   1.25      13085.0  United Kingdom

In [5]:
df_2010 = pd.read_excel(file_path, sheet_name='Year 2010-2011')
print(df_2010.head())

  Invoice StockCode                          Description  Quantity  \
0  536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1  536365     71053                  WHITE METAL LANTERN         6
2  536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3  536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4  536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  Price  Customer ID         Country
0 2010-12-01 08:26:00   2.55      17850.0  United Kingdom
1 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
2 2010-12-01 08:26:00   2.75      17850.0  United Kingdom
3 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
4 2010-12-01 08:26:00   3.39      17850.0  United Kingdom

In [28]:
df_2009.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  datetime64[ns]
 5   Price        525461 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.1+ MB

In [7]:
df_2009.describe()

,Quantity,InvoiceDate,Price,Customer ID
count,525461.000000,525461,525461.000000,417534.000000
mean,10.337667,2010-06-28 11:37:36.845017856,4.688834,15360.645478
min,-9600.000000,2009-12-01 07:45:00,-53594.360000,12346.000000
25%,1.000000,2010-03-21 12:20:00,1.250000,13983.000000
50%,3.000000,2010-07-06 09:51:00,2.100000,15311.000000
75%,10.000000,2010-10-15 12:45:00,4.210000,16799.000000
max,19152.000000,2010-12-09 20:01:00,25111.090000,18287.000000
std,107.424110,NaN,146.126914,1680.811316

In [8]:
df_2009.isna().sum()

Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107927
Country             0
dtype: int64

In [43]:
# Data Cleaning for 2009-2010 Data
df = df_2009.copy()

# Remove rows with missing Customer ID or Description
df = df.dropna(subset=['Customer ID', 'Description'])

# Remove rows with non-positive Quantity or Price
df = df[(df['Quantity'] > 0 ) & (df['Price'] > 0)]
df['Invoice'] = df['Invoice'].astype(str)

# Remove canceled orders (Invoice starting with 'C')
df = df[~df['Invoice'].str.startswith('C')]

# Create Total Sales column
df['TotalSales'] = df['Quantity'] * df['Price']

# Convert InvoiceDate to datetime
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

# Remove duplicate rows
df = df.drop_duplicates()

# Convert Customer ID to integer
df['Customer ID'] = df['Customer ID'].astype(int)

# Reset index
df = df.reset_index(drop=True)

# Remove rows that are most likely outliers
df = df[df['Quantity'] < 500]

# Group by Transaction
df = df.groupby(['Invoice', 'Customer ID', 'InvoiceDate', 'Country'], as_index=False).agg({'TotalSales': 'sum'})